@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@100;300;400;500;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
div {
    margin: 0;
}

body {
    background-color: rgb(15, 15, 15);
}

h1 {
    font-family: Prata, serif;
    font-weight: 100;
    color: white;
    font-size: 4rem;
    padding-top: 8px;
}

h2,
p {
    font-family: Roboto, sans-serif;
}

#app-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


/* Hero image and banner */

#image-container {
    flex-basis: 500px;
    background-image: url("images/ferns.jpg");
    background-size: cover;
}

.banner {
    width: 100%;
    position: relative;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


#sign-up-container {
    flex-basis: 900px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.sign-up-section {
    padding: 5% 10%;
}


/* Form input elements */

.form-box {
    background-color: #bdd8c0;
    box-shadow: 0 5px 10px #9fafa0, 0 -5px 10px #9fafa0;
}

#input-container {
    margin-top: 16px;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 16px 16px;
}

.input-item {
    flex: 1 1 170px;
}

#input-container p {
    color: #333;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    padding-left: 8px;
    padding-bottom: 4px;
}

#input-container input {
    font-family: Arial;
    height: 2rem;
    border: 1px solid rgb(52, 82, 52);
    border-radius: 8px;
    padding-left: 8px;
    width: 100%;
}

#input-container input:not(:placeholder-shown):invalid {
        border: 1px solid red;
}

#input-container input:hover {
    /* background-color: rgb(121, 161, 121); */
    border-width: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#input-container input:focus {
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Submission elements */

.submit-box {
    padding-top: 3%;
}

.submit-box button {
    padding: 8px 14px;
    background-color: rgb(214, 169, 117);
    border: 2px solid black;
    border-radius: 12px;
    margin-bottom: 9px;
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.submit-box button:hover {
    background-color: rgb(184, 146, 103);
    cursor: pointer;
}

.submit-box button:active {
    background-color: rgb(235, 217, 196);
}

.submit-box p {
    font-weight: 500;
}

.submit-box a {
    text-decoration: none;
    color: rgb(76, 107, 76);
}

#input-container .error {
    border: 2px solid red;
}

#input-container .pass-match-error {
    font-size: 0.8rem;
    position: relative;
    top: 4px;
    color: red;
    height: 0;
    display: none;
}